# --- APP DATA ---
APP_NAME=BACKEND
BOB_URL=
COOKIE_SECRET=
HTTP_PORT=

# --- DB DATA ---
DB_NAME=main
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_TAG=16.9

# --- TOKEN DATA ---
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

# ---- NPM ----
GITHUB_TOKEN=